n8n-flows/chatbot-principal.json
{
  "name": "Chatbot Principal - Pizzería",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-mensaje",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Mensaje",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "combinator": "or" },
          "conditions": [
            {
              "id": "hitl-transferred",
              "leftValue": "={{ $json.status }}",
              "rightValue": "transferred_human",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "hitl-waiting",
              "leftValue": "={{ $json.status }}",
              "rightValue": "waiting_human",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "¿HITL Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"hitl_active\", \"message\": \"Sesion derivada a operador humano\" }"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Ignorar (HITL)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 140]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/conversaciones/{{ $json.session_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Obtener Contexto Sesión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $('Webhook Mensaje').item.json.pizzeria_id }}/catalogo/productos?disponible=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Obtener Catálogo Productos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $('Webhook Mensaje').item.json.pizzeria_id }}/catalogo/combos?disponible=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Obtener Catálogo Combos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $('Webhook Mensaje').item.json.pizzeria_id }}/pedidos?status=in_progress",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Obtener Pedido Activo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 440]
    },
    {
      "parameters": {
        "jsCode": "const wh = $('Webhook Mensaje').item.json;\nconst ctx = $('Obtener Contexto Sesión').item.json;\nconst rawProducts = $('Obtener Catálogo Productos').item.json;\nconst rawCombos = $('Obtener Catálogo Combos').item.json;\nconst rawOrders = $('Obtener Pedido Activo').item.json;\n\nconst products = Array.isArray(rawProducts) ? rawProducts : [];\nconst combos = Array.isArray(rawCombos) ? rawCombos : [];\nconst orders = Array.isArray(rawOrders) ? rawOrders : [];\n\nconst activeOrder = orders.find(o => o.status === 'in_progress') || null;\n\nconst catalogText = products.map(p => {\n  const prices = (p.catalog_items || []).map(ci => `${ci.size || 'unitario'}: $${ci.price}`).join(' | ');\n  return `- [ID:${p.id}] ${p.full_name || p.name} (${p.category}): ${prices}`;\n}).join('\\n');\n\nconst comboText = combos.map(c => `- [ID:${c.id}] ${c.name}: $${c.price}`).join('\\n');\n\nconst orderText = activeOrder\n  ? `Pedido #${activeOrder.id} en curso:\\n` + (activeOrder.items || []).map(i => `  - ${i.quantity}x ${i.name || i.product_name} $${i.unit_price}`).join('\\n') + `\\n  Total: $${activeOrder.total}`\n  : 'Sin pedido activo';\n\nconst clientCredit = ctx.customer_credit || 0;\n\nconst systemPrompt = `Sos el asistente virtual de \"${ctx.pizzeria_name || 'la pizzería'}\". Ayudás a los clientes a hacer pedidos por WhatsApp de forma amigable y eficiente.\n\nDATOS DEL CLIENTE:\n- Nombre: ${ctx.customer_name || '(aún no registrado)'}\n- Teléfono: ${ctx.customer_phone || wh.customer_phone || ''}${ctx.customer_address ? '\\n- Dirección guardada: ' + ctx.customer_address : ''}${clientCredit > 0 ? '\\n- Crédito disponible: $' + clientCredit : ''}\n\nESTADO DEL PEDIDO:\n${orderText}\n\nCATÁLOGO DISPONIBLE:\n${catalogText || 'No hay productos disponibles'}\n\nCOMBOS:\n${comboText || 'No hay combos disponibles'}\n\nREGLAS DE NEGOCIO:\n- Mitad y mitad: precio = el mayor de los dos gustos + recargo configurado\n- Si el cliente tiene crédito, mencionarlo y aplicarlo al confirmar el pedido\n- Para confirmar necesitás: qué quiere, método de pago (MercadoPago/efectivo/transferencia) y si es delivery (pedir dirección si no tiene) o retiro en local\n- Si el cliente dice 'quiero hablar con una persona' o similar → usar acción request_human\n- Si el cliente confirma el pedido completo → usar acción confirm_order\n- Si el cliente quiere cancelar → usar acción cancel_order\n- Si el cliente actualiza su nombre o dirección → usar acción update_client\n\nINSTRUCCIONES:\n1. Respondé en español, tono amigable y breve\n2. Nunca inventes productos fuera del catálogo\n3. Si algo es ambiguo, preguntá solo lo necesario\n4. Respondé ÚNICAMENTE con JSON puro, sin bloques de código ni texto extra\n\nFORMATO DE RESPUESTA OBLIGATORIO:\n{\"action\":\"reply|confirm_order|request_human|cancel_order|update_client\",\"message\":\"Texto para el cliente\",\"data\":{}}\n\nPara confirm_order, data debe incluir: {\"items\":[{\"catalog_item_id\":N,\"combo_id\":null,\"quantity\":N,\"unit_price\":P,\"notes\":\"\"}],\"delivery_type\":\"delivery|pickup\",\"payment_method\":\"mercadopago|cash|transfer\",\"delivery_address\":\"...\"}\nPara cancel_order: {\"order_id\":N}\nPara update_client: {\"name\":\"...\",\"address\":\"...\"}\nPara reply/request_human: {}`;\n\nconst history = (ctx.messages || []).slice(-14);\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history.map(m => ({ role: m.role === 'assistant' ? 'assistant' : 'user', content: String(m.content || '') })),\n  { role: 'user', content: String(wh.message || '') }\n];\n\nreturn [{ json: {\n  messages,\n  pizzeria_id: wh.pizzeria_id,\n  session_id: wh.session_id,\n  customer_id: ctx.customer_id || null,\n  active_order_id: activeOrder ? activeOrder.id : null\n} }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Construir Contexto LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { model: 'gpt-4o-mini', messages: $json.messages, response_format: { type: 'json_object' }, max_tokens: 800, temperature: 0.7 } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Llamar OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 440]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices && $json.choices[0] ? $json.choices[0].message.content : '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  parsed = { action: 'reply', message: raw.substring(0, 500), data: {} };\n}\nif (!parsed.action) parsed.action = 'reply';\nif (!parsed.message) parsed.message = 'Disculpá, hubo un problema. ¿Podés repetir?';\nif (!parsed.data) parsed.data = {};\n\nconst ctx = $('Construir Contexto LLM').item.json;\nreturn [{ json: {\n  action: parsed.action,\n  message: parsed.message,\n  data: parsed.data,\n  pizzeria_id: ctx.pizzeria_id,\n  session_id: ctx.session_id,\n  customer_id: ctx.customer_id,\n  active_order_id: ctx.active_order_id\n} }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Parsear Respuesta LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 440]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            { "value2": "confirm_order", "output": 0 },
            { "value2": "request_human", "output": 1 },
            { "value2": "cancel_order",  "output": 2 },
            { "value2": "update_client", "output": 3 }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Switch por Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2360, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/pedidos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { customer_id: $json.customer_id, origin: 'whatsapp', delivery_type: ($json.data.delivery_type || 'pickup'), payment_method: ($json.data.payment_method || 'cash'), delivery_address: ($json.data.delivery_address || null), items: ($json.data.items || []) } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Confirmar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/conversaciones/{{ $json.session_id }}/estado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "waiting_human" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Derivar a Operador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 340]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/pedidos/{{ $json.active_order_id }}/estado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "cancelled" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Cancelar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 480]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/clientes/{{ $json.customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { name: $json.data.name, address: $json.data.address } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Actualizar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $('Parsear Respuesta LLM').item.json.pizzeria_id }}/conversaciones/{{ $('Parsear Respuesta LLM').item.json.session_id }}/mensajes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $('Parsear Respuesta LLM').item.json.message }}" },
            { "name": "role", "value": "assistant" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "Guardar Mensaje Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"session_id\": \"{{ $('Webhook Mensaje').item.json.session_id }}\" }"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3080, 440]
    }
  ],
  "connections": {
    "Webhook Mensaje": {
      "main": [[{ "node": "¿HITL Activo?", "type": "main", "index": 0 }]]
    },
    "¿HITL Activo?": {
      "main": [
        [{ "node": "Ignorar (HITL)", "type": "main", "index": 0 }],
        [{ "node": "Obtener Contexto Sesión", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Contexto Sesión": {
      "main": [[{ "node": "Obtener Catálogo Productos", "type": "main", "index": 0 }]]
    },
    "Obtener Catálogo Productos": {
      "main": [[{ "node": "Obtener Catálogo Combos", "type": "main", "index": 0 }]]
    },
    "Obtener Catálogo Combos": {
      "main": [[{ "node": "Obtener Pedido Activo", "type": "main", "index": 0 }]]
    },
    "Obtener Pedido Activo": {
      "main": [[{ "node": "Construir Contexto LLM", "type": "main", "index": 0 }]]
    },
    "Construir Contexto LLM": {
      "main": [[{ "node": "Llamar OpenAI", "type": "main", "index": 0 }]]
    },
    "Llamar OpenAI": {
      "main": [[{ "node": "Parsear Respuesta LLM", "type": "main", "index": 0 }]]
    },
    "Parsear Respuesta LLM": {
      "main": [[{ "node": "Switch por Acción", "type": "main", "index": 0 }]]
    },
    "Switch por Acción": {
      "main": [
        [{ "node": "Confirmar Pedido",  "type": "main", "index": 0 }],
        [{ "node": "Derivar a Operador","type": "main", "index": 0 }],
        [{ "node": "Cancelar Pedido",   "type": "main", "index": 0 }],
        [{ "node": "Actualizar Cliente","type": "main", "index": 0 }],
        [{ "node": "Guardar Mensaje Bot","type": "main", "index": 0 }]
      ]
    },
    "Confirmar Pedido":  { "main": [[{ "node": "Guardar Mensaje Bot", "type": "main", "index": 0 }]] },
    "Derivar a Operador":{ "main": [[{ "node": "Guardar Mensaje Bot", "type": "main", "index": 0 }]] },
    "Cancelar Pedido":   { "main": [[{ "node": "Guardar Mensaje Bot", "type": "main", "index": 0 }]] },
    "Actualizar Cliente":{ "main": [[{ "node": "Guardar Mensaje Bot", "type": "main", "index": 0 }]] },
    "Guardar Mensaje Bot":{ "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
