n8n-flows/inactividad-timer.json
{
  "name": "Timer de Inactividad - Pizzería",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Cron cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/conversaciones/inactivas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "minutos_inactiva", "value": "30" },
            { "name": "status",           "value": "active" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Obtener Sesiones Inactivas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "¿Hay sesiones?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sessions",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Split Sesiones",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_BASE_URL }}/api/{{ $json.whatsapp_session_name }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone",   "value": "={{ $json.customer_phone }}" },
            { "name": "message", "value": "=⏰ ¿Seguís ahí? Tu conversación lleva un rato sin actividad. ¿Puedo ayudarte con algo más?" },
            { "name": "isGroup", "value": false }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Enviar Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/conversaciones/{{ $json.id }}/estado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "closed" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Cerrar Sesión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "jsCode": "// Sin sesiones inactivas — no hacer nada\nreturn [];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Sin acción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Cron cada 5 min": {
      "main": [[{ "node": "Obtener Sesiones Inactivas", "type": "main", "index": 0 }]]
    },
    "Obtener Sesiones Inactivas": {
      "main": [[{ "node": "¿Hay sesiones?", "type": "main", "index": 0 }]]
    },
    "¿Hay sesiones?": {
      "main": [
        [{ "node": "Split Sesiones", "type": "main", "index": 0 }],
        [{ "node": "Sin acción",     "type": "main", "index": 0 }]
      ]
    },
    "Split Sesiones": {
      "main": [[
        { "node": "Enviar Recordatorio", "type": "main", "index": 0 },
        { "node": "Cerrar Sesión",       "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
