n8n-flows/inactividad-timer.json
{
  "name": "Timer de Inactividad - Pizzería",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Cron cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/conversaciones/inactivas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "minutos_inactiva", "value": "10" },
            { "name": "status",           "value": "active" },
            { "name": "include_hitl",     "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Obtener Sesiones Inactivas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Clasifica sesiones en dos fases según minutos de inactividad:\n// Fase 1 (10–14 min): enviar recordatorio\n// Fase 2 (≥ 15 min): cerrar sesión y descartar pedido activo\nconst sessions = Array.isArray($json) ? $json : [];\nconst now = new Date();\nconst toRemind = [];\nconst toClose = [];\n\nfor (const s of sessions) {\n  const lastMsgAt = s.last_message_at || s.updated_at;\n  if (!lastMsgAt) continue;\n  const minutesInactive = (now - new Date(lastMsgAt)) / 60000;\n  if (minutesInactive >= 15) {\n    toClose.push(s);\n  } else if (minutesInactive >= 10) {\n    toRemind.push(s);\n  }\n}\n\nreturn [{ json: { toRemind, toClose } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Clasificar Sesiones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const { toRemind } = $json;\nif (!toRemind || toRemind.length === 0) return [];\nreturn toRemind.map(s => ({ json: s }));"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Preparar Recordatorios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_BASE_URL }}/api/{{ $json.whatsapp_session_name }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone",   "value": "={{ $json.customer_phone }}" },
            { "name": "message", "value": "=⏰ ¿Seguís ahí? Tu conversación lleva un rato sin actividad. Si querés continuar con tu pedido, escribime. Si no, cerramos la sesión en unos minutos." },
            { "name": "isGroup", "value": false }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Enviar Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "jsCode": "const { toClose } = $('Clasificar Sesiones').item.json;\nif (!toClose || toClose.length === 0) return [];\nreturn toClose.map(s => ({ json: s }));"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Preparar Cierres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $json.pizzeria_id }}/conversaciones/{{ $json.id }}/estado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "closed" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Cerrar Sesión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Preparar Cierres').item.json.active_order_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "¿Tiene Pedido Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.API_BASE_URL }}/pizzerias/{{ $('Preparar Cierres').item.json.pizzeria_id }}/pedidos/{{ $('Preparar Cierres').item.json.active_order_id }}/estado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "discarded" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Descartar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_BASE_URL }}/api/{{ $('Preparar Cierres').item.json.whatsapp_session_name }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone",   "value": "={{ $('Preparar Cierres').item.json.customer_phone }}" },
            { "name": "message", "value": "=👋 Tu sesión fue cerrada por inactividad. ¡Cuando quieras hacer un pedido, escribinos!" },
            { "name": "isGroup", "value": false }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "Notificar Cierre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 520]
    }
  ],
  "connections": {
    "Cron cada 5 min": {
      "main": [[{ "node": "Obtener Sesiones Inactivas", "type": "main", "index": 0 }]]
    },
    "Obtener Sesiones Inactivas": {
      "main": [[{ "node": "Clasificar Sesiones", "type": "main", "index": 0 }]]
    },
    "Clasificar Sesiones": {
      "main": [[
        { "node": "Preparar Recordatorios", "type": "main", "index": 0 },
        { "node": "Preparar Cierres",       "type": "main", "index": 0 }
      ]]
    },
    "Preparar Recordatorios": {
      "main": [[{ "node": "Enviar Recordatorio", "type": "main", "index": 0 }]]
    },
    "Preparar Cierres": {
      "main": [[{ "node": "Cerrar Sesión", "type": "main", "index": 0 }]]
    },
    "Cerrar Sesión": {
      "main": [[{ "node": "¿Tiene Pedido Activo?", "type": "main", "index": 0 }]]
    },
    "¿Tiene Pedido Activo?": {
      "main": [
        [{ "node": "Descartar Pedido", "type": "main", "index": 0 }],
        [{ "node": "Notificar Cierre", "type": "main", "index": 0 }]
      ]
    },
    "Descartar Pedido": {
      "main": [[{ "node": "Notificar Cierre", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
