n8n-flows/notificaciones.json
{
  "name": "Notificaciones de Pedidos - Pizzería",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificacion-pedido",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Notificación",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst { order_id, new_status, customer_phone, session_name, delivery_type, credit_amount, payment_link } = d;\n\nlet mensaje = '';\n\nswitch (new_status) {\n  case 'pending_payment':\n    if (payment_link) {\n      mensaje = `✅ Tu pedido #${order_id} fue recibido. Para pagar con MercadoPago usá este link:\\n${payment_link}`;\n    } else {\n      mensaje = `✅ Tu pedido #${order_id} fue recibido. ¡Estamos en eso!`;\n    }\n    break;\n  case 'pending_preparation':\n    mensaje = `✅ Tu pedido #${order_id} fue recibido. ¡Estamos en eso!`;\n    break;\n  case 'in_preparation':\n    mensaje = `👨‍🍳 ¡Tu pedido #${order_id} está siendo preparado!`;\n    break;\n  case 'ready_for_dispatch':\n    if (delivery_type === 'pickup') {\n      mensaje = `📦 ¡Tu pedido #${order_id} está listo para retirar! Te esperamos.`;\n    } else {\n      mensaje = `📦 Tu pedido #${order_id} está listo y ya salió para entregarte. ¡En camino!`;\n    }\n    break;\n  case 'in_delivery':\n    mensaje = `🛵 Tu pedido #${order_id} está en camino. ¡Ya llega!`;\n    break;\n  case 'delivered':\n    mensaje = `🎉 ¡Tu pedido #${order_id} fue entregado! Gracias por elegirnos.`;\n    break;\n  case 'cancelled':\n    if (credit_amount && Number(credit_amount) > 0) {\n      mensaje = `❌ Tu pedido #${order_id} fue cancelado. Tenés un crédito de $${credit_amount} para tu próximo pedido.`;\n    } else {\n      mensaje = `❌ Tu pedido #${order_id} fue cancelado. No se realizó ningún cobro.`;\n    }\n    break;\n  case 'with_incident':\n    mensaje = `⚠️ Tuvimos un inconveniente con tu pedido #${order_id}. Estamos resolviéndolo y te avisamos pronto.`;\n    break;\n  default:\n    mensaje = '';\n}\n\nreturn [{ json: { mensaje, customer_phone, session_name, should_send: mensaje !== '' } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Construir Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.should_send }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "¿Tiene Mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_BASE_URL }}/api/{{ $json.session_name }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone",   "value": "={{ $json.customer_phone }}" },
            { "name": "message", "value": "={{ $json.mensaje }}" },
            { "name": "isGroup", "value": false }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Enviar por WPPConnect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "jsCode": "// Estado sin notificación al cliente (ej: discarded, with_incident interno)\nreturn [];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Sin Notificación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 420]
    }
  ],
  "connections": {
    "Webhook Notificación": {
      "main": [[{ "node": "Construir Mensaje", "type": "main", "index": 0 }]]
    },
    "Construir Mensaje": {
      "main": [[{ "node": "¿Tiene Mensaje?", "type": "main", "index": 0 }]]
    },
    "¿Tiene Mensaje?": {
      "main": [
        [{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }],
        [{ "node": "Sin Notificación",      "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
