n8n-flows/notificaciones.json
{
  "name": "Notificaciones de Pedidos - Pizzería",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificacion-pedido",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Notificación",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.new_status }}",
        "rules": {
          "rules": [
            { "value2": "pending_preparation", "output": 0 },
            { "value2": "in_preparation",      "output": 1 },
            { "value2": "ready_for_dispatch",  "output": 2 },
            { "value2": "in_delivery",         "output": 3 },
            { "value2": "delivered",           "output": 4 },
            { "value2": "cancelled",           "output": 5 }
          ]
        },
        "fallbackOutput": 6
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Switch Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `✅ Tu pedido #${items[0].json.order_id} fue confirmado y está listo para prepararse.` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Msg: Para preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 60]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `👨‍🍳 Tu pedido #${items[0].json.order_id} está siendo preparado. ¡Ya casi está!` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Msg: En preparación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 160]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `📦 Tu pedido #${items[0].json.order_id} está listo y saldrá pronto.` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Msg: Listo despacho",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 260]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `🛵 Tu pedido #${items[0].json.order_id} está en camino. ¡Ya llega!` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Msg: En delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `🎉 ¡Tu pedido #${items[0].json.order_id} fue entregado! Gracias por elegirnos.` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Msg: Entregado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, mensaje: `❌ Tu pedido #${items[0].json.order_id} fue cancelado. Ante cualquier consulta contactanos.` } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Msg: Cancelado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_BASE_URL }}/api/{{ $json.session_name }}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "phone",   "value": "={{ $json.customer_phone }}" },
            { "name": "message", "value": "={{ $json.mensaje }}" },
            { "name": "isGroup", "value": false }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Enviar por WPPConnect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook Notificación": {
      "main": [[{ "node": "Switch Estado", "type": "main", "index": 0 }]]
    },
    "Switch Estado": {
      "main": [
        [{ "node": "Msg: Para preparar",  "type": "main", "index": 0 }],
        [{ "node": "Msg: En preparación", "type": "main", "index": 0 }],
        [{ "node": "Msg: Listo despacho", "type": "main", "index": 0 }],
        [{ "node": "Msg: En delivery",    "type": "main", "index": 0 }],
        [{ "node": "Msg: Entregado",      "type": "main", "index": 0 }],
        [{ "node": "Msg: Cancelado",      "type": "main", "index": 0 }]
      ]
    },
    "Msg: Para preparar":  { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] },
    "Msg: En preparación": { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] },
    "Msg: Listo despacho": { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] },
    "Msg: En delivery":    { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] },
    "Msg: Entregado":      { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] },
    "Msg: Cancelado":      { "main": [[{ "node": "Enviar por WPPConnect", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
